/**
 * Typography & Text styles
 */

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
@font-face {
    font-family: 'medium';
    src: url('font/Yekan-Bakh-FaNum-05-Medium.woff');
}
@font-face {
    font-family: 'medium';
    src: url('font/Yekan-Bakh-FaNum-05-Medium.ttf');
}
@font-face {
    font-family: 'fat';
    src: url('font/Yekan-Bakh-FaNum-08-Fat.woff');
}
@font-face {
    font-family: 'fat';
    src: url('font/Yekan-Bakh-FaNum-08-Fat.ttf');
}
:root {
    --font-main:'medium';
    --bgcolor-main:#27282C;
    --txtcolor-main:#F5F6F6;
    --txtcolor-main2:#979797;
    --txtcolor-main3:rgba(255,255,255,0.7);
    --primery-color:#31CAB9;
    --font-fat:'fat';
}

body{
    direction: rtl;
    font-family: var(--font-main);
    padding: 20px 80px 0 80px;
    margin: 0 0;
    background: var(--bgcolor-main);
    color: var(--txtcolor-main) !important;
}
h1{font-family: var(--font-main);}
h2{font-family: var(--font-main);}
h3{font-family: var(--font-main);}
h4{font-family: var(--font-main);}
h5{font-family: var(--font-main);}
p{font-family: var(--font-main);}
input{font-family: var(--font-main) !important;}
a{font-family: var(--font-main);text-decoration: none;color: var(--txtcolor-main);}
.row{padding: 0;margin: 0;}

#big-mtn{
    font-family: var(--font-fat);
    font-size: 20px;
    color: var(--txtcolor-main);
}
.short-mtn{
    font-size: 15px;
    color: var(--txtcolor-main);
}
#color2{
    color: var(--txtcolor-main2);
}
.name{

}
#rowBody {
    padding: 30px 0;
}
.section1{
    padding: 5px;
    margin-bottom: 20px;
}
.maintext3{
    color: var(--txtcolor-main3);
    font-size: 17px;

}
.textnorm{line-height: 180%;
    padding: 5px 20px;}

.textnorm1{
    line-height: 180%;
    padding: 5px 20px;
    font-size: 15px;
    font-family: var(--font-fat);
    color: var(--txtcolor-main3);
}

#spanDet {
    border: 1px solid var(--primery-color);
    color: var(--primery-color);
    font-size: 12px;
    font-family: var(--font-fat);
    padding: 3px 10px;
    border-radius: 97px;
}
#project {
    border-right: 1px solid var(--primery-color);
}
#project-title a {
    color: rgba(255,255,255,0.7);
}
#project-title a:hover {
    color: rgba(255,255,255,0.7);
}

#project1 {
    border-right: 1px solid var(--primery-color);
    padding: 5px 0;
    margin-top: 7px;
}

#footer1 {
    margin-top: 20px;
    padding: 0 30px;
}
#phone {
    background: var(--primery-color);
    color: #000;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

